.resume{
  max-width: 800px;
  margin: 0 auto;
}
.resume > section{margin:50px 0;}
.resume > section > h1{text-align: center;margin: 20px;}
.resume > section > h2{text-align: center;margin: 20px;}
.resume  .profile{
  text-align: center;
}
.resume  .skills > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.resume  .skills > ul > li{
  width: 48%;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.resume  .skills > ul > li > span.removeSkill{
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
}
.resume .projects{}
.resume .projects > ol {}
.resume .projects > ol > li{
  margin: 30px 0;
  border: 1px solid #ddd;
  padding: 10px;
}
.resume .projects header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.resume .projects header .name{
  margin-right: 1em;

}
.resume .projects header .start{
  display: flex;
}  
.resume .projects header .start{
  